<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/splide.min.css">
    <link rel="stylesheet" href="/css/inicio.css">
    <script src="/js/splide.min.js"></script>
</head>
<body>
    <section id="us">
        <div id="about">
            <div id="img-about-div">
                <img src="/assets/1-2-1-png.png" alt="" id="img-about">
            </div>
            <div id="p-about-div">
                <p class="us-p">
                    Sobre nosotros: Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptate cumque odit est, necessitatibus doloremque ex aperiam. Atque odio eum commodi iure nihil hic eveniet eaque assumenda iste accusantium, incidunt quae error tenetur aliquid quaerat!
                </p>
            </div>
        </div>
        <div id="strat">
            <div id="img-strat-div">
                <img src="/assets/1414659.jpeg" alt="" id="img-strat">
            </div>
            <div id="p-strat-div">
                <p class="us-p">
                    Estrategia: Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ad illum enim pariatur. Aspernatur facere asperiores illo ipsum nemo consectetur perspiciatis nisi officiis odio. Animi explicabo eos facilis mollitia repellat accusamus laboriosam veritatis illo placeat.
                </p>
            </div>
        </div>
    </section>
    <section id="principles">
        <div id="principles-div">
            <div id="principle-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ear-fill principle-svg" viewBox="0 0 16 16">
                    <path d="M8.5 0A5.5 5.5 0 0 0 3 5.5v7.047a3.453 3.453 0 0 0 6.687 1.212l.51-1.363a4.59 4.59 0 0 1 .67-1.197l2.008-2.581A5.34 5.34 0 0 0 8.66 0H8.5ZM7 5.5v2.695c.112-.06.223-.123.332-.192.327-.208.577-.44.72-.727a.5.5 0 1 1 .895.448c-.256.513-.673.865-1.079 1.123A8.538 8.538 0 0 1 7 9.313V11.5a.5.5 0 0 1-1 0v-6a2.5 2.5 0 0 1 5 0V6a.5.5 0 0 1-1 0v-.5a1.5 1.5 0 1 0-3 0Z"/>
                </svg>
                <p class="p-principle">Escucha Activa</p>
            </div>
            <div id="principle-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill principle-svg" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
                <p class="p-principle">Trabajo</p>
            </div>
            <div id="principle-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill principle-svg" viewBox="0 0 16 16">
                    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                </svg>
                <p class="p-principle">Honestidad</p>
            </div>
        </div>
    </section>
    <section id="clients">
        <h2 id="clients-h2">Nuestros clientes</h2>
        <div id="splide-div">
            <section class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide"><img src="/assets/Logo-LaVasconia.png" alt="" class="splide-img"></li>
                        <li class="splide__slide"><img src="/assets/THOR.png" alt="" class="splide-img"></li>
                        <li class="splide__slide"><img src="/assets/monosuisse.png" alt="" class="splide-img"></li>
                        <li class="splide__slide"><img src="/assets/praxair.png" alt="" class="splide-img"></li>
                        <li class="splide__slide"><img src="/assets/pyramid.png" alt="" class="splide-img"></li>
                        <li class="splide__slide"><img src="/assets/TIASA.png" alt="" class="splide-img"></li>
                        <li class="splide__slide"><img src="/assets/jafra.png" alt="" class="splide-img"></li>
                    </ul>
                </div>
            </section>
        </div>
    </section>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const splide = new Splide(' .splide ', {
        type: 'loop',
        perPage: 3,
        focus  : 'center',
        autoplay: true,
    });
    splide.mount();
});
</script>

</body>
</html>

<%- include('includes/foot.ejs') %>