<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/servicios.css">
    <link rel="stylesheet" href="/css-min/splide.min.css">
    <script src="/js/splide.min.js"></script>
</head>
<body>
    <section id="services">
        <h2 class="services-h2">Nuestros servicios</h2>
        <div class="services-major-div">
            <div id="splide-div">
                <section class="splide" id="splide-services">
                    <div class="splide__track splide__track__services">
                        <ul class="splide__list">
                            <li class="splide__slide splide__slide__services" id="splide__slide__services">
                                <div class="card" style="height: 450px;">
                                    <img src="/assets/torno-cnc.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <p class="card-text">
                                        <strong>Torno CNC</strong><br><br>
                                        <p class="card-desc-text">3 ejes x,y,z.</p>
                                      </p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide splide__slide__services" id="splide__slide__services">
                                <div class="card" style="height: 450px;">
                                    <img src="/assets/fresadora.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <p class="card-text">
                                        <strong>Fresadora convencional</strong><br><br>
                                        <p class="card-desc-text"></p>
                                      </p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide splide__slide__services" id="splide__slide__services">
                                <div class="card" style="height: 450px;">
                                    <img src="/assets/centro.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <p class="card-text">
                                        <strong>Centro de maquinados</strong><br><br>
                                        <p class="card-desc-text">3 ejes.</p>
                                    </p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide splide__slide__services" id="splide__slide__services">
                                <div class="card" style="height: 450px;">
                                    <img src="/assets/electroerosion.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <p class="card-text">
                                        <strong>Electroerosión por hilo</strong><br><br>
                                        <p class="card-desc-text">De 0” a 6” de altura.</p>
                                      <p>
                                    </div>
                                </div> 
                            </li>
                            <li class="splide__slide splide__slide__services" id="splide__slide__services">
                                <div class="card" style="height: 450px;">
                                    <img src="/assets/electroerosion-penetracion.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <p class="card-text">
                                        <strong>Electroerosión por penetración</strong><br><br>
                                        <p class="card-desc-text"></p>
                                      <p>
                                    </div>
                                </div> 
                            </li>
                            <li class="splide__slide splide__slide__services" id="splide__slide__services">
                                <div class="card" style="height: 450px;">
                                    <img src="/assets/rectificadora-cilindrica.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <p class="card-text">
                                        <strong>Rectificado cilíndrico</strong><br><br>
                                        <p class="card-desc-text"></p>
                                    </p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide splide__slide__services" id="splide__slide__services">
                                <div class="card" style="height: 450px;"> 
                                    <img src="/assets/rectificadora-plana.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <p class="card-text">
                                        <strong>Rectificado plano</strong><br><br>
                                        <p class="card-desc-text"></p>
                                    </p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide splide__slide__services" id="splide__slide__services">
                                <div class="card" style="height: 450px;">
                                    <img src="/assets/diseño.jpeg" class="card-img-top" alt="..." style="object-fit: cover;">
                                    <div class="card-body">
                                      <p class="card-text">
                                        <strong>Diseño ingenieril</strong><br><br>
                                        <p class="card-desc-text"></p>
                                    </p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide splide__slide__services" id="splide__slide__services">
                                <div class="card" style="height: 450px;">
                                    <img src="/assets/laser.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <p class="card-text">
                                        <strong>Grabado láser</strong><br><br>
                                        <p class="card-desc-text">Grabado en todo tipo de materiales, desde mdf hasta plástico, acero al carbón y otras aleaciones.</p>
                                    </p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide splide__slide__services" id="splide__slide__services">
                                <div class="card" style="height: 450px;">
                                    <img src="/assets/torno-convencional.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <p class="card-text">
                                        <strong>Torno convencional</strong><br><br>
                                        <p class="card-desc-text">Desde 0.5m a 3m de longitud y volteo de hasta 40”.</p>
                                    </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <section id="work">
        <h2 id="work-h2">Nuestro trabajo</h2>
        <div id="splide-work-div">
            <div id="main-slider-div">
                <div id="main-slider" class="splide">
                    <div class="splide__track splide__track__m">
                      <ul class="splide__list">
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo1.jpeg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo2.jpeg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo3.jpeg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo4.jpeg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo5.jpeg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo6.jpeg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo7.jpeg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo8.jpeg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo9.jpeg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo10.jpeg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo11.jpeg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo12.jpeg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo13.jpeg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo14.jpg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo15.jpg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo16.jpg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo17.jpg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo18.jpg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo19.jpg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo20.jpg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo21.jpg" alt="" class="splide-img-m"></li>
                        <li class="splide__slide splide__slide__m"><img src="/assets/trabajo22.jpg" alt="" class="splide-img-m"></li>

                      </ul>
                    </div>
                </div>
            </div>
            <div id="splide-work-thumbnails-div">
                <div id="thumbnail-slider" class="splide">
                    <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo1.jpeg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo2.jpeg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo3.jpeg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo4.jpeg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo5.jpeg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo6.jpeg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo7.jpeg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo8.jpeg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo9.jpeg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo10.jpeg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo11.jpeg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo12.jpeg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo13.jpeg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo14.jpg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo15.jpg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo16.jpg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo17.jpg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo18.jpg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo19.jpg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo20.jpg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo21.jpg" alt="" class="splide-img-t"></li>
                        <li class="splide__slide splide__slide__t"><img src="/assets/trabajo22.jpg" alt="" class="splide-img-t"></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script src="/js/servicios.js"></script>

</body>
</html>

<%- include('includes/foot.ejs') %>