@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Regular.ttf');
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}
.footContainer {
    background-color: #343A40;
    margin-top: auto;
    height: 215px;
    width: 100%;
    overflow-y: hidden;
}
.logoFoot {
    margin-top: 35px;
}
.contactInfoContainer {
    position: relative;
    top: 27px;
    left: 50px;
}
.telephoneContainer {
    position: relative;
    top: 25px;
}
.mailContainer {
    position: relative;
    bottom: 25px;
}
.telephoneText, .whatsappText, .mailText {
    position: relative;
    left: 45px;
    bottom: 25px;
    color: #FFFFFF;
    font-size: 18px;
}
#right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
#botonCotizacionFooter{
    background-color: #615680;
    border: #615680;
    height: 100%;
    font-size: larger;
    color: #ffffff;
}
.botonCotizacion{
    margin-right: 2em;
}