@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Regular.ttf');
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
}
.footContainer{
    position: absolute;
    bottom: 1;
    height: 195px;
    width: 99.1vw;
    background-color: #343A40;
}
.logoFoot{
    margin-top: 25px;
    width: 360px;
    height: 120px;
}
.contactInfoSVGsContainer{
    position: absolute;
    left: 425px;
    top: 15px;
}
.telephoneContainer, .whatsappContainer, .mailContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}
.telephoneText{
    position: absolute;
    left: 470px;
    top: 33px;
    color: #FFFFFF;
    font-size: 18px;
}
.whatsappText{
    position: absolute;
    left: 470px;
    top: 80px;
    color: #FFFFFF;
    font-size: 18px;
}
.mailText{
    position: absolute;
    left: 470px;
    top: 123px;
    color: #FFFFFF;
    font-size: 18px;
}
.botonCotizacion{
    position: absolute;
    right: 1em;
    bottom: 4em;
}