body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}
.footContainer {
    background-color: #343A40;
    margin-top: auto;
    height: 215px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.logoFoot {
    margin-top: 35px;
}
.contactInfoContainer {
    position: relative;
    top: 27px;
    left: 50px;
}
.telephoneContainer {
    position: relative;
    top: 25px;
}
.mailContainer {
    position: relative;
    bottom: 25px;
}
.telephoneText, .whatsappText, .mailText {
    position: relative;
    left: 45px;
    bottom: 25px;
    color: #FFFFFF;
    font-size: 18px;
}
#right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
#botonCotizacionFooter{
    background-color: #615680;
    border: #615680;
    height: 100%;
    font-size: larger;
    color: #ffffff;
}
.botonCotizacion{
    margin-right: 2em;
}
@media(max-width: 1021px){
    .logoFoot {
        margin-top: 55px;
        width: 359px;
    }
    .telephoneText, .whatsappText, .mailText {
        font-size: 16px;
    }
    #botonCotizacionFooter{
        font-size: 18px;
    }
}
@media(max-width: 918px){
    .contactInfoContainer {
        top: 0;
        left: 75px;
    }
    .post-block{
        display: block;
    }
    #right{
        display: block;
        position: relative;
        margin: 0;
        left: 430px;
        bottom: 40px;
    }
}
@media(max-width: 694px){
    .logoFoot {
        width: 309px;
    }
    .contactInfoContainer {
        left: 45px;
    }
    #right{
        left: 350px;
    }
}
@media(max-width: 615px){
    .logoFoot {
        width: 259px;
    }
    #right{
        left: 300px;
    }
}
@media(max-width: 567px){
    .contactInfoContainer {
        left: 30px;
    }
    #right{
        left: 285px;
    }
    .telephoneText, .whatsappText, .mailText {
        font-size: 14px;
    }
    #botonCotizacionFooter{
        font-size: 16px;
    }
}
@media(max-width: 524px){
    .footContainer{
        overflow-y: auto;
        height: 350px;
    }
    .non-flex{
        display: block;
    }
    .logoFootContainer{
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 35px;
    }
    .contactInfoContainer{
        position: initial;
        position: relative;
        left: 25%;
        top: -35px;
    }
    #right{
        left: 100px;
        top: -75px;
    }
}