p{
   text-align: justify;
}
.flex{
    display: flex;
}
#us-text{
    display: flex;
    margin-bottom: 5rem;
}
.us-p{
    font-size: 19px;
    color: #252525;
}
#img-about-div{
    margin-top: 3.4em;
    margin-left: 3.4em;
    background-color: #e5e6e8;
    width: 870px;
    height: 137px;
    border-radius: 25px;
}
#img-about{
    position: relative;
    left: 120px;
    width: 700px;
    aspect-ratio: 9/3;
    object-fit: cover;
    background-color: #e5e6e8;
    border-radius: 25px;
}
#p-about-div{
    position: relative;
    left: 170px;
    top: 60px;
    width: 30vw;
}
#img-strat{
    position: relative;
    left: 17.4vw;
    width: 700px;
    aspect-ratio: 9/3;
    object-fit: cover;
    border-radius: 25px;
}
#p-strat-div{
    position: relative;
    left: 500px;
    top: 60px;
    width: 30vw;
}
#us-imgs{
    margin-bottom: 3rem;
}
#principles{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#principles-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e6e8;
    height: 257px;
}
#principle-1, #principle-2, #principle-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
}
#principle-1{
    padding-left: 25vw;
}
#principle-3{
    padding-right: 18vw;
}
.principle-svg{
    justify-content: center;
    text-align: center;
    width: 95px;
    height: 95px;
    fill: #604F7B;
}
.p-principle{
    text-align: center;
    padding-top: 25px;
    font-size: 26px;
    color: #252525;
}
#servicio-p{
    margin-right: 15px;
}
#clients{
    padding-top: 4rem;
    padding-bottom: 6rem;
}
#clients-h2{
    text-align: center;
    margin-bottom: 4rem;
}
.splide {
    max-width: 75vw;
    margin: 0 auto;
}
.splide-img{
    width: 65%;
    height: 45%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.splide__arrow{
    margin-left: -75px;
    margin-right: -75px;
}