.logo{
  width: 254px;
}
#serviciosAnchor{
  color: #FFFFFF;
  padding-left: 2em;
  font-size: larger;
}
#botonCotizacion{
  background-color: #615680;
  border: #615680;
  height: 39px;
  font-size: large;
  color: #ffffff;
  margin-right: 1rem;
}
@media(max-width: 991px){
  #botonCotizacion{
    position: relative;
    left: 38px;
    background-color: transparent;
    border: none;
    height: auto;
    font-size: larger;
    color: #ffffff;
    padding: 0;
    cursor: pointer;
    margin-bottom: 25px;
  }
}