.services-h2{
    text-align: center;
    padding-top: 1.4em;
    margin-bottom: 1.4em;
}
.card{
    width: 16rem;
}
.card-img-top{
    width: 75%;
    height: 240px;
    aspect-ratio: 4/3;
    object-fit: contain;
    background-color: #e5e6e8;
}
#splide-services{
    margin: 0 auto;
}
.splide--loop{
    max-width: 100%;
}
.splide__track__services{
    width: 55.5vw;
    margin: 0 auto;
    position: relative;
    left: 60px;
}
.splide-img{
    width: 65%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.card-desc-text{
    text-align: justify;
}
#splide-services .splide__arrows .splide__arrow--prev{
    margin-left: 130px;
}
#splide-services .splide__arrows .splide__arrow--next{
    margin-right: 130px;
    margin-left: 5px;
}
.splide__slide__services{
    display: flex;
    justify-content: center;
    width: 22rem !important;
    margin-right: 100px;
    margin-left: 100px;
}
#work-h2{
    text-align: center;
    padding-top: 3.4em;
    margin-bottom: 1.4em;
}
.splide__track__m{
    width: 500px;
    margin: 0 auto;
}
#thumbnail-slider{
    margin: 0 auto;
    display: flex;
    width: 100%;
}
#main-slider{
    display: flex;
    margin-bottom: 2em;
}
#thumbnail-slider-track{
    width: 55vw;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2.4rem;
}
#splide-work-thumbnails-div{
    margin-bottom: 3.4rem;
}
#thumbnail-slider .splide__arrows .splide__arrow--prev{
    margin-left: 195px;
    top: 25px;
}
#thumbnail-slider .splide__arrows .splide__arrow--next{
    margin-right: 195px;
    top: 25px;
}
.splide__pagination__page{
    /* display: none; */
    position: relative;
    top: 5vh;
}
.splide:not( .is-overflow ) .splide__list {
    justify-content: center;
}
.splide:not( .is-overflow ) .splide__slide:last-child {
    margin: 0 !important;
}

@media(max-width: 1086px){
    .splide__track__services{
        position: initial;
        left: initial;
    }
    #thumbnail-slider .splide__arrows .splide__arrow--prev{
        margin-left: 155px;
    }
    #thumbnail-slider .splide__arrows .splide__arrow--next{
        margin-right: 155px;
    }
}
@media(max-width: 904px){
    #thumbnail-slider .splide__arrows .splide__arrow--prev{
        margin-left: 105px;
    }
    #thumbnail-slider .splide__arrows .splide__arrow--next{
        margin-right: 105px;
    }
}
@media(max-width: 679px){
    .splide__slide__m{
        width: 350px !important;
        height: 250px !important;
        position: relative;
        left: 75px;
    } 
    #thumbnail-slider .splide__arrows .splide__arrow--prev{
        margin-left: 45px;
    }
    #thumbnail-slider .splide__arrows .splide__arrow--next{
        margin-right: 45px;
    }
}
@media(max-width: 618px){
    .card{
        width: 12rem !important;
        height: 350px !important;
    }
    .card-text, .card-desc-text{
        font-size: 14px !important;
    }
    #splide-services .splide__arrows .splide__arrow--prev{
        margin-left: 50px;
    }
    #splide-services .splide__arrows .splide__arrow--next{
        margin-right: 50px;
    }
}
@media(max-width: 465px){
    .splide__slide__m{
        width: 250px !important;
        height: 150px !important;
    }
}
@media(max-width: 417px){
    #thumbnail-slider .splide__arrows .splide__arrow--prev{
        margin-left: 5px;
    }
    #thumbnail-slider .splide__arrows .splide__arrow--next{
        margin-right: 5px;
    }
}
@media(max-width: 417px){
    #splide-services .splide__arrows .splide__arrow--prev{
        margin-left: 5px;
    }
    #splide-services .splide__arrows .splide__arrow--next{
        margin-right: 5px;
    }
}