.services-h2{
    text-align: center;
    padding-top: 1.4em;
    margin-bottom: 1.4em;
}
.card{
    width: 16rem;
}
.card-img-top{
    width: 75%;
    height: 240px;
    aspect-ratio: 4/3;
    object-fit: contain;
    background-color: #e5e6e8;
}
#splide-services {
    margin: 0 auto;
    position: relative;
    left: 65px;
}
.splide-img{
    width: 65%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.card-desc-text{
    text-align: justify;
}
.splide__arrow--prev{
    margin-left: -150px;
}
.splide__arrow--next{
    margin-right: -15px;
}
#splide-services{
    width: 65vw;
    margin: 0 auto;
}
#splide-work-div{
    width: 25.3vw;
    margin: 0 auto;
}
.splide-img-m{
    width: 150px;
}
#thumbnail-slider{
    margin: 0 auto;
    display: flex;
    width: 100%;
}
#main-slider{
    display: flex;
    margin-bottom: 2em;
}
#thumbnail-slider-track{
    width: 35vw;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2.4rem;
}
#work-h2{
    text-align: center;
    padding-top: 3.4em;
    margin-bottom: 1.4em;
}
#splide-work-thumbnails-div{
    margin-bottom: 3.4rem;
}
#thumbnail-slider .splide__arrows .splide__arrow--prev{
    margin-left: -75px;
}
#thumbnail-slider .splide__arrows .splide__arrow--next{
    margin-right: -75px;
}
.splide__pagination__page{
    /* display: none; */
    position: relative;
    right: 3.5vw;
    top: 5vh;
}
.splide:not( .is-overflow ) .splide__list {
    justify-content: center;
}
.splide:not( .is-overflow ) .splide__slide:last-child {
    margin: 0 !important;
}

@media(max-width: 817px){
    
}